@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h4>Add Animal</h4>
@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Type, new { placeholder = "Type", required = "required" })
  <br />
  @Html.TextBoxFor(model => model.Breed, new { placeholder = "Breed", required = "required" })
  <br />
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", required = "required" })
  <br />
  @Html.TextBoxFor(model => model.AdmittanceDate, new { placeholder = "Date of Admittance", required = "required" })
  <br />
  <input type="submit" value="Add new animal" />
}
<p>@Html.ActionLink("Show all animals", "Index")</p>