@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>

<table border="1">
  <tr>
    <th>@Html.DisplayNameFor(model => model.Type):</th>
    <td>@Html.DisplayFor(model => model.Type)</td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.Breed):</th>
    <td>@Html.DisplayFor(model => model.Breed)</td>
  </tr>
  <tr>
    <th>@Html.DisplayNameFor(model => model.Name):</th>
    <td>@Html.DisplayFor(model => model.Name)</td>
  </tr>
  <tr>
    <th>Admittance Date:</th>
    <td>@Html.DisplayFor(model => model.AdmittanceDate)</td>
  </tr>
</table>

<p>@Html.ActionLink("Back to all animals", "Index")</p>